body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "couture";
  src: local('couture') url("./fonts/couture-bldit-webfont.woff") format('woff');
}

@font-face {
  font-family: 'lato-bold';
  src: url('./fonts/Lato/lato-bold-webfont.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'lato-regular';
  src: url('./fonts/Lato/lato-regular-webfont.woff');
}



